{% extends 'app/base.html' %} {% load static %} {% block title %}Home{% endblock title %} {% block main-content %}
<!-- Hero Section  -->
<section id="hero">
    <div class="hero container">
        <div>
            <h1>Welcome to <span></span></h1>
            <h1>My Statistical Analysis <span></span></h1>
            <h1>Web Application <span></span></h1>
            <a href="#" type="button" class="cta">View Raw Data</a>
        </div>
    </div>
</section>
<!-- End Hero Section  -->

<!-- Service Section -->
<section id="services">
    <div class="services container">
        <div class="service-top">
            <h1 class="section-title">CO<span>VI</span>D-19</h1>
            <br>
            <h2>Severe Acute Respiratory Syndrome Coronavirus 2 (SARS-CoV-2)</h2>
            <p> Disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special treatment. The virus that causes COVID-19 is
                mainly transmitted through droplets generated when an infected person coughs,sneezes, or exhales. These droplets are too heavy to hang in the air, and quickly fall on floors or surfaces.You can be infected by breathing in the virus if
                you are within close proximity of someone who has COVID-19, or by touching a contaminated surface and then your eyes, nose or mouth.
            </p>
        </div>
        <h1 class="section-title">To <span>Prevent</span> CO<span>VI</span>D-19</h1>
        <div class="service-bottom">
            <div class="service-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/wash-your-hands.png" /></div>
                <h2>wash hands</h2>
                <p>Clean your hands often. Use soap and water, or an alcohol-based hand rub.
                </p>
            </div>
            <div class="service-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/share.png" /></div>
                <h2>social distancing</h2>
                <p>Maintain a safe distance from anyone who is coughing or sneezing.
                </p>
            </div>
            <div class="service-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/protection-mask.png" /></div>
                <h2>wear a mask</h2>
                <p>Studies show that masks reduce the spray of droplets when worn over the nose and mouth.
                </p>
            </div>
            <div class="service-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/do-not-touch.png" /></div>
                <h2>Do not touch</h2>
                <p>The novel coronavirus virus can be transmitted by touch only under certain circumstances.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End Service Section -->

<!-- Projects Section -->
<section id="projects">
    <div class="projects container">
        <div class="projects-header">
            <h1 class="section-title"> <span>T</span>op <span>C</span>ountry <span>a</span>ffected <span>b</span>y <span>c</span>orona</h1>
        </div>
        <div class="all-projects">
            <div class="project-item">
                <div class="project-info">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/usa.png" /></div>
                    <h1>United States</h1>
                    <h2>Top Most Confirmed Cases.</h2>
                    <p>The US accounted for the world's highest number of 33,055,801 infections and 588,531 deaths.</p>
                </div>
                <div class="project-img">
                    <img src="{%static 'app/img/img1.png'%}" alt="img">
                </div>
            </div>
            <div class="project-item">
                <div class="project-info">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/india.png" /></div>
                    <h1>India</h1>
                    <h2>2nd Top Most Country.</h2>
                    <p>India came in second place with 25,772,440 infections and 287,122 deaths.</p>
                </div>
                <div class="project-img">
                    <img src="{%static 'app/img/img1.png'%}" alt="img">
                </div>
            </div>
            <div class="project-item">
                <div class="project-info">
                    <div class="icon"><img src="https://img.icons8.com/color/96/000000/brazil-circular.png" /></div>
                    <h1>Brazil</h1>
                    <h2>3rd In Most Confirmed Case.</h2>
                    <p>Brazil has more than 14.8 million confirmed cases and 444,094 deaths due to coronavirus.</p>
                </div>
                <div class="project-img">
                    <img src="{%static 'app/img/img2.png'%}" alt="img">
                </div>
            </div>
            <div class="project-item">
                <div class="project-info">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/france.png" /></div>
                    <h1>France</h1>
                    <h2>4th Top Most Country.</h2>
                    <p>France's novel coronavirus tally crossed the 5.9 million mark on with the death toll rising to 108,879</p>
                </div>
                <div class="project-img">
                    <img src="{%static 'app/img/img3.png'%}" alt="img">
                </div>
            </div>
            <div class="project-item">
                <div class="project-info">
                    <div class="icon"><img src="https://flagcdn.com/108x81/tr.png" srcset="https://flagcdn.com/216x162/tr.png 2x" width="108" height="81" alt="Turkey"></div>
                    <h1>Turkey</h1>
                    <h2>5th Country Having Most Cases.</h2>
                    <p>France's novel coronavirus tally crossed the 5.9 million mark on with the death toll rising to 108,879</p>
                </div>
                <div class="project-img">
                    <img src="{%static 'app/img/img1.png'%}" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div>
    <iframe width="1000" height="800" frameborder="0" scrolling="no" src="//plotly.com/~rishabh4185/1.embed"></iframe>
</div> -->
<!-- End Projects Section -->

<!-- About Section -->
<section id="about">
    <div class="about container">
        <div class="col-left">
            <div class="about-img">
                <img src="{%static 'app/img/img4.png'%}" alt="img">
            </div>
        </div>
        <div class="col-right">
            <h1 class="section-title">About <span> project</span></h1>
            <h2>Covid-19 Analysis</h2>
            <p>As COVID-19 pandemic aggressively spreads across continents, vigorous public health responses are now being put in place in all the countries hit by the virus. Articles are being added to the expanding body of work on COVID-19 in flattening
                the curve. Many recent research papers have discussed the assessment of these containment policies through prediction of the path of COVID-19 cases in India, for different scenarios. Some recent papers have discussed in detail the outbreak
                of the disease across the globe. The main underlying theme of most of these studies is to track and predict the path of the virus spread in the nation.</p>
            <a href="{%url 'india'%}" target="_blank" type="button" class="cta">India Analysis</a>
            <a href="{%url 'state
            '%}" class="cta">Indian States Analysis</a>
        </div>
    </div>
</section>
<!-- End About Section -->

<!-- Contact Section -->
<section id="contact">
    <div class="contact container">
        <div>
            <h1 class="section-title">Contact <span>info</span></h1>
        </div>
        <div class="contact-items">
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
                <div class="contact-info">
                    <h1>Phone</h1>
                    <h2>+1 234 123 1234</h2>
                    <h2>+1 234 123 1234</h2>
                </div>
            </div>
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
                <div class="contact-info">
                    <h1>Email</h1>
                    <h2>info@gmail.com</h2>
                    <h2>abcd@gmail.com</h2>
                </div>
            </div>
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
                <div class="contact-info">
                    <h1>Address</h1>
                    <h2>XYZ, Bhopal, India</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->

{% endblock main-content %}