{% extends 'app/base.html' %} {% load static %} {% block title %}Home{% endblock title %} {% block main-content %}

<div style="background-color:rgb(51, 70, 95)">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="text-align: center;">
        <a href="{%url 'india'%}" class="btn btn-outline-primary btn-lg" style="padding: 15px; width: 150px;">India</a>
        <a href="{%url 'state'%}" class="btn btn-outline-primary btn-lg" style="padding: 15px; width: 150px;">State</a>
    </div>
    <br>
    <br>

    <div class="container-fluid">
        <div id="Vaccine1">
            <div class="card" style="width: 100rem;">
                <br>
                <h1 class="card-title" style="text-align: center; color: crimson;">Total Vaccine</h1><br><br>
                <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~rishabh4185/46.embed"></iframe>
                <div class="card-body">
                    <!-- <h2 class="card-title">Toatal Vaccine</h2> -->
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <p class="card-text">Coronaviruses are a large family of viruses that are known to cause illness ranging from the common cold to more severe diseases such as Middle East Respiratory Syndrome (MERS) and Severe Acute Respiratory Syndrome (SARS). A novel
                        coronavirus (COVID-19) was identified in 2019 in Wuhan, China.</p>
                </div>
            </div>
        </div>
        <br>
        <br>


        <div id="Vaccine2">
            <div class="card" style="width: 100rem;">
                <br>
                <h1 class="card-title" style="text-align: center; color: crimson;">Gender Wise</h1><br><br>
                <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~rishabh4185/32.embed"></iframe>


                <div class="card-body">
                    <!-- <h2 class="card-title">Gender Wise</h2> -->
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <p class="card-text">Coronaviruses are a large family of viruses that are known to cause illness ranging from the common cold to more severe diseases such as Middle East Respiratory Syndrome (MERS) and Severe Acute Respiratory Syndrome (SARS). A novel
                        coronavirus (COVID-19) was identified in 2019 in Wuhan, China.</p>
                </div>
            </div>
        </div>
        <br>
        <br>

        <div id="Vaccine3">
            <div class="card" style="width: 100rem;">
                <br>
                <h1 class="card-title" style="text-align: center; color: crimson;">Age Wise</h1><br><br>
                <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~rishabh4185/34.embed"></iframe>



                <div class="card-body">
                    <!-- <h2 class="card-title">Age Wise</h2> -->
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <p class="card-text">Coronaviruses are a large family of viruses that are known to cause illness ranging from the common cold to more severe diseases such as Middle East Respiratory Syndrome (MERS) and Severe Acute Respiratory Syndrome (SARS). A novel
                        coronavirus (COVID-19) was identified in 2019 in Wuhan, China.</p>
                </div>
            </div>
        </div>
        <br>
        <br>

        <div id="Vaccine4">
            <div class="card" style="width: 100rem;">
                <br>
                <h1 class="card-title" style="text-align: center; color: crimson;">Vaccine Type</h1><br><br>
                <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~rishabh4185/36.embed"></iframe>


                <div class="card-body">
                    <!-- <h2 class="card-title">Type</h2> -->
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <p class="card-text">Coronaviruses are a large family of viruses that are known to cause illness ranging from the common cold to more severe diseases such as Middle East Respiratory Syndrome (MERS) and Severe Acute Respiratory Syndrome (SARS). A novel
                        coronavirus (COVID-19) was identified in 2019 in Wuhan, China.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>




{% endblock main-content %}