/* .container-fluid {
         text-align: center; 


 position: relative;
left: 20%; 


} */


/* .state {
     text-align: center; 
    
    position: relative;
    left: 20%;
}  */


/* .Vaccine {
     
 
 position: relative;
 left: 20%;
} */


/* #india1 {
        position: relative;
        top: 200px;
    } */


/* #state1 {
        position: relative;
        left: 20%;
    } */


/* #india {
        margin-top: 30px;
    } */


/* #india1 {
    position: relative;
    left: 20%;
} */


/* #india2 {
    position: relative;
    left: 20%;
}
#india3 {
    position: relative;
    left: 20%;
}
#india4 {
    position: relative;
    left: 20%;
}
#india5 {
    position: relative;
    left: 20%;
} */

#india1 {
    padding-left: 250px;
}

#india2 {
    padding-left: 250px;
}

#india3 {
    padding-left: 250px;
}

#india4 {
    padding-left: 250px;
}

#india5 {
    padding-left: 250px;
}

#state1 {
    padding-left: 250px;
}

#state2 {
    padding-left: 250px;
}

#state3 {
    padding-left: 250px;
}

#state4 {
    padding-left: 250px;
}

#Vaccine1 {
    padding-left: 250px;
}

#Vaccine2 {
    padding-left: 250px;
}

#Vaccine3 {
    padding-left: 250px;
}

#Vaccine4 {
    padding-left: 250px;
}